COMPOSE_PROJECT_NAME=discovery-node-cloud-1
DISCOVERY_NET_IMAGE=discovery-net-node:REVIEWED_COMMIT
DISCOVERY_NET_UID=10001
DISCOVERY_NET_GID=10001

NODE_NAME=discovery-node-cloud-1
CHAIN_ID=discovery-local-1
GENESIS_FILE=/srv/discovery-net/genesis.json
GENESIS_SHA256=replace-with-trusted-sha256

COMETBFT_DATA_DIRECTORY=/srv/discovery-net/cometbft-data
LEDGER_DATA_DIRECTORY=/srv/discovery-net/ledger-data
CADDY_DATA_DIRECTORY=/srv/discovery-net/caddy-data
CADDY_CONFIG_DIRECTORY=/srv/discovery-net/caddy-config

P2P_NETWORK=discovery-net-p2p
P2P_ALIAS=discovery-node-cloud-1
P2P_ADVERTISED_ENDPOINT=203.0.113.30:26656
# May be empty only when an allowlisted peer will initiate the bootstrap connection.
PERSISTENT_PEERS=

RPC_PORT=26657
